[submodule "vendor/commentary"]
	path = home/.local/share/nvim/site/pack/tpope/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vendor/goyo"]
	path = home/.local/share/nvim/site/pack/junegunn/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vendor/limelight"]
	path = home/.local/share/nvim/site/pack/junegunn/opt/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "vendor/coc"]
	path = home/.local/share/nvim/site/pack/neoclide/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "vendor/indentline"]
	path = vendor/indentline
	url = https://github.com/Yggdroot/indentLine
[submodule "vendor/indent-blankline"]
	path = vendor/indent-blankline
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "vendor/endwise"]
	path = home/.local/share/nvim/site/pack/tpope/opt/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vendor/polyglot"]
	path = home/.local/share/nvim/site/pack/sheerun/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "home/.local/share/nvim/site/pack/wbthomason/start/packer.nvim"]
	path = home/.local/share/nvim/site/pack/wbthomason/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
