[submodule "vendor/commentary"]
	path = vendor/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vendor/goyo"]
	path = vendor/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vendor/limelight"]
	path = vendor/limelight
	url = https://github.com/junegunn/limelight.vim
